body {
  background-color: rgb(36, 36, 36);
  position: relative;
}

#section-input {
  margin: 5rem 0 0 0;
}

.page-link {
  color: #eeeeee;
  background-color: rgb(36, 36, 36)!important;
  margin: 0 0 5rem 0;
}

.activePage {
  filter: brightness(2);
  text-decoration: underline;
}

footer {
  font-size: 0.5vw;
}

/* header */
header a .header-title{
  color: #eeeeee!important;
  margin: 35px 0 0 0;
  padding: 15px 5px;
  border: 1px solid #eeeeee;
  transition: box-shadow 0.2s;
}

header a .header-title:hover {
  color: #eeeeee!important;
  margin: 35px 0 0 0;
  padding: 15px 5px;
  border: 1px solid #eeeeee;
  box-shadow: 5px 10px 0px 0px #eeeeee;
}

.header-link {
  color: #eeeeee!important;
  margin: 35px 0 0 0;
  padding: 15px 5px;
  border: 1px solid #eeeeee;
  transition: box-shadow 0.2s;
}

.header-link:hover {
  color: #eeeeee!important;
  margin: 35px 0 0 0;
  padding: 15px 5px;
  border: 1px solid #eeeeee;
  box-shadow: 5px 10px 0px 0px #eeeeee;
}

/* slide */
.carousel-item img {
  height: 750px;
  object-fit: cover
}

.carousel-caption {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 0.5), rgba(0,0,0, 0.0));
}

/* user */
#dataPanel {
  min-height: 700px;
}

h5.section-title{
  color: #eeeeee!important;
  margin: 35px 0 0 0;
  padding: 15px 5px;
  border: 1px solid #eeeeee;
  box-shadow: 5px 10px 0px 0px #eeeeee;
}

.border-white {
  border-color: rgb(36, 36, 36)!important;
}

.user-info:hover {
  cursor: pointer;
}

.card {
  color: #eeeeee;
  background-color: rgb(36, 36, 36, 0);
  border: 1px solid rgb(36, 36, 36, 0)!important;
  right: 0px;
  bottom: 0px;
  transition: all 0.3s;
  animation: fadein 0.5s;
  -webkit-animation: fadein 0.5s; 
}

.card:hover {
  right: 5px;
  bottom: 10px;
  border: 1px solid rgb(122, 122, 122)!important;
  box-shadow: 5px 10px 0px 0px #eeeeee;
}

@keyframes fadein { 
    from {
        opacity:0;
        left: 20px;
    }
    to {
        opacity:1;
        left: 0;
    }
}

@media screen and (max-width: 740px) {
  #paginator {
    flex-wrap: wrap
  }
}

@media screen and (max-width: 650px) {
  header nav{
    flex-direction: column;
  }

  header nav div {
    margin: 1rem 0;
  }
}

/* bgimage */

.bg-image {
  position: absolute;
  z-index: -1;
  opacity: 0.1;
}

.bg-image.one {
  top: 1300px;
}

.bg-image.one img {
  width: 450px
}

.bg-image.two {
  top: 850px;
  right: 10px;
}

.bg-image.two img {
  width: 450px
}

.bg-image.three {
  top: -20px;
  right: 70px;
}

.bg-image.three img {
  width: 100px;
  transform: rotate(-100deg)
}